@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --ui-container: 2000px;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@theme {
  --font-sans: 'InterVariable', sans-serif;
}
html, body {
    min-height: 100%;
}
#__nuxt {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
}
body {
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}
header {
    height: 70px;
    display: flex;
    justify-content: end;
}
h1 {
    font-weight: 800;
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 5rem;
}
h3 {
  font-weight: 600;
}
hr {
  line-height: 2rem;
  margin: 24px;
  color: #5de7f1;
}
.lhs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    min-width: 25%;
}
.rhs {
    flex-grow: 2;
}
.blue-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
    border-radius: 60px;
    background: linear-gradient(to right bottom, #030C3F , #03607C );
    padding: 30px;
    height: 100%;
}
p, ul, li {
    line-height: 1.75rem;
    font-size: 1.2rem;
}
P {
    margin-bottom: 1.2rem;
}
