@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: Outfit, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --ui-container: 2000px;
}
@supports (font-variation-settings: normal) {
  :root { font-family: Outfit, sans-serif; }
}

@theme {
  --font-sans: 'Outfit', sans-serif;
}
html, body {
    min-height: 100%;
}
#__nuxt {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
}
body {
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}
header {
    height: 70px;
    display: flex;
}
h1 {
    font-weight: 900;
    font-size: 90px;
    letter-spacing: -3px;
    line-height: 6.5rem;
    
    @media (max-width: 1023px) { /* lg */
      font-size: 48px;
      letter-spacing: 0px;
      line-height: 3.5rem;
    }
    @media (max-width: 767px) { /* md */
      font-size: 36px;
      letter-spacing: 0px;
      line-height: 2.5rem;
    }
    @media (max-width: 639px) { /* sm */
      font-size: 28px;
      letter-spacing: 0px;
      line-height: 2rem;
    }
}
h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 2.75rem;
  
    @media (max-width: 1023px) { /* lg */
      font-size: 30px;
      letter-spacing: 0px;
      line-height: 2.5rem;
    }
    @media (max-width: 767px) { /* md */
      font-size: 24px;
      letter-spacing: 0px;
      line-height: 1.75rem;
    }
    @media (max-width: 639px) { /* sm */
      font-size: 18px;
      letter-spacing: 0px;
      line-height: 1.5rem;
    }
}
h3 {
  font-weight: 600;
}
hr {
  line-height: 2rem;
  margin: 4px 0 24px;
  color: #5de7f1;
}
.lhs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 15vw;
}
.rhs {
    flex-grow: 2;
}
.blue-container {
    justify-content: stretch;
    align-items: stretch;
    background: linear-gradient(to right bottom, #030C3F , #03607C );
    padding: 30px;
    height: 100%;
}
p, ul, li {
    line-height: 1.75rem;
}
P {
    margin-bottom: 1.2rem;

    @media (max-width: 1023px) { /* lg */
      font-size: 20px;
      line-height: 1.2rem;
    }
    @media (max-width: 767px) { /* md */
      font-size: 18px;
      line-height: 1.2rem;
    }
    @media (max-width: 639px) { /* sm */
      font-size: 14px;
      line-height: 1.2rem;
    }
}
blockquote {
  padding: 0 10px;
}
blockquote p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}